<div>
  <strong>TodoItemsComponent中測試strong標籤</strong>
</div>
<div>
  <span [ngClass]="getBlueClass()">TodoItemsComponent中測試blue class</span>
</div>
<ul>
  <li *ngFor="let item of items">
    <label htmlFor="chk_{{item.id}}">
      <input id="chk_{{item.id}}" type="checkbox" [checked]="item.done" (click)="itemClick(item)"> 
      <span [ngClass]="{'done' : item.done}">{{ item.value }}</span>
    </label>
    |
    <a href="#" (click)="delete(item)">刪除</a>
    <span *ngIf="item.done">(已完成)</span>
    </li>
</ul>