<div>
  <strong>TodoItemsComponent中測試strong標籤</strong>
</div>
<div>
  <span [ngClass]="getBlueClass()">TodoItemsComponent中測試blue class</span>
</div>
<ul>
  <li *ngFor="let item of getTodoList();let recordIndex = index;let firstRecord = first;let lastRecotd = last; let evenRecord = even; let oddRecord = odd">
    <label htmlFor="chk_{{item.id}}">
      <input id="chk_{{item.id}}" type="checkbox" [checked]="item.done" (click)="itemClick(item)">
      <span [ngClass]="{'done' : item.done, 'text-danger': firstRecord, 'text-warning': lastRecotd, 'bg-info': evenRecord, 'bg-success': oddRecord}">
        {{ recordIndex }} . {{ item.value }}
      </span>
    </label>
    |
    <a href="#" (click)="delete(item)">刪除</a>
    <span>{{ item.done | todoDone:false }}</span>
    </li>
</ul>
